page-home {
 .signup {
     background: lightblue;
     align-content: center;
 }
 .contactus{
     background: lightpink;
 }
 .ion-title {
    height: 10px;
    padding: 0 90px 1px;
    text-align: center;
  }
}
